@import url("https://fonts.googleapis.com/css?family=Poppins:300&display=swap");

.blackbg {
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(65, 98, 230);
  opacity: 0.95;
}

html {
  font-family: "Poppins", sans-serif;
}

.submit-txt {
  margin: 20px !important;
  width: 50% !important;
  background-color: green !important;
  border: none !important;
  border-radius: 120px !important;
  padding: 20px !important;
}

.txt-input {
  border: 1px solid black;
  height: 120px;
  width: 50vw;
  text-align: center;
  /* position: absolute; */
  /* margin: 0 0 auto; */
  margin-top: 50px;
  padding: 20px;
}

.txt-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
  font-size: 32px;
}

.theForm {
  width: 50%;
  margin: 20vw auto 0 auto;
  text-align: center;
}

/* .the {
  opacity: 1;
  transition: 0.7s opacity;
} */

.theForm.fade {
  opacity: 0;
  transition: none;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#time {
  font-size: 40px;
  color: white;
  padding: 40px;
}
.boxes {
  text-align: center;
}

.repl {
  border: 5px solid salmon;
  border-radius: 10px;
}

.dev-docs {
  margin-left: 40px;
  border: 5px solid salmon;
  border-radius: 10px;
}
