@import url("https://fonts.googleapis.com/css?family=Poppins:300&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
body {
  width: 93vw;
  border: 4px solid #86abff;
  border-radius: 10px;
}
.date-time {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  background: #eaeaea;
}
.full-entry {
  margin: 4px;
}
